section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: #ffa01b;
  height: 300px;
  width: 100%;
  max-width: 550px;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  border: solid 3px #ff7300;
}

section div:first-child{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  flex-grow: 1;
  height: 300px;
  max-width: 300px;
}

section div:first-child h2{
  margin: 0;
}

section div:first-child button{
  background-color: #ff7300;
  border: 3px solid #ffa01b;
}

section div:first-child button:hover{
  background-color: #ffa01b;
  border: 3px solid #ff7300;
  box-sizing: border-box;
}

section div:first-child div h3{
  display: inline-block;
}

section div:last-child{
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  border: solid 3px #ff7300;
  box-sizing: border-box;
}

section div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}